/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 */
.sidebar{
  background-color: #7733FF;
  height: 100vh;
  position: fixed;
  bottom: 0;
  top: 0;
}
.sidebar_font{
  color: #dd88bb;
  font-family: 'Comic Sans MS';
  font-weight: 900;
  font-size: 28px;
}
.sidebar_row_1{
  height: 60%;
}
.sidebar_row_2{
  height: 40%;
  text-align:center;
}
.ul_pull{
  margin-right:10px;
}
.intrduction{
  margin-top: 10px;
  font-size: 13px;
}
.content{
  height: 100vh;
}
.title_font{
  color: #7733FF;
  font-family: 'Impact';
  font-weight: 900;
  font-size: 28px;
}
.read_font{
  color: #7733FF;
  font-family: 'Impact';
  font-weight: 900;
  font-size: 15px;
}
.articles{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 20px;
}
a:link { text-decoration: none;}
.article_title{
  color: #7733FF;
  font-family: 'Impact';
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.comment{
  border-bottom: inset thin;
  margin-top: 20px;
}